body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

nav {
    background: #333;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 30px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}

.errors {
    color: #b00020;
    margin-bottom: 20px;
}

.button {
  background-color: rgb(46, 104, 175);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

table {
    width: 100%;
    border:#333 3px solid;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: #333 3px solid;
    padding: 10px;
    text-align: left;
}

.avatar {
    width: 100px;
    height: 100px;
}